{% extends "base.html" %}
{% block content %}

<!-- Our Page Header -->
        <header style="width:100%;background-color:#333;">
            <div style="float:left;padding:15px;">
                <a href="#" title="androidcss" rel="home" style="font-size:24px;text-decoration:none;color:#FFF;"><span style="color:#690">Image</span><span style="color:#CCC">Lab</span></a>
            </div>
            <div style="float:right;padding:15px;">
                <a href="#" style="color:#FFF;font-size:16px;">Projects</a>
            </div>
            <div style="clear:both;"></div>
        </header>

        <div class="form">

            <div class="projects-heading">
                <h1>Projects</h1>
            </div>

            <div class="project-form " >

            <section class="section-projectcreation">
                <div class="row">

                    <ul class="project-list">
                        <li>Project 01</li>
                        <li><a class="btn btn-full" href="#" > Edit </a></li>
                        <li><a class="btn btn-full" href="#" > Add </a></li>
                        <li><a class="btn btn-full" href="#" > Delete </a></li>

                    </ul>
                </div>
            </section>
           <section class="section-projectcreation">
                <div class="row">

                    <ul class="project-list">
                        <li>Project 02</li>
                        <li><a class="btn btn-full" href="#" > Edit </a></li>
                        <li><a class="btn btn-full" href="#" > Add </a></li>
                        <li><a class="btn btn-full" href="#" > Delete </a></li>

                    </ul>
                </div>
            </section>
            <section class="section-projectcreation">
                <div class="row">

                    <ul class="project-list">
                        <li>Project 03</li>
                        <li><a class="btn btn-full" href="#" > Edit </a></li>
                        <li><a class="btn btn-full" href="#" > Add </a></li>
                        <li><a class="btn btn-full" href="#" > Delete </a></li>

                    </ul>
                </div>
            </section>
            <section class="section-projectcreation">
                <div class="row">

                    <ul class="project-list">
                        <li>Project 04</li>
                        <li><a class="btn btn-full" href="#" > Edit </a></li>
                        <li><a class="btn btn-full" href="#" > Add </a></li>
                        <li><a class="btn btn-full" href="#" > Delete </a></li>

                    </ul>
                </div>
            </section>
             <section class="section-projectcreation">
                <div class="row">

                    <ul class="project-list">
                        <li>Project 05</li>
                        <li><a class="btn btn-full" href="#" > Edit </a></li>
                        <li><a class="btn btn-full" href="#" > Add </a></li>
                        <li><a class="btn btn-full" href="#" > Delete </a></li>

                    </ul>
                </div>
            </section>
             <section class="section-projectcreation">
                <div class="row">

                    <ul class="project-list">
                        <li>Project 06</li>
                        <li><a class="btn btn-full" href="#" > Edit </a></li>
                        <li><a class="btn btn-full" href="#" > Add </a></li>
                        <li><a class="btn btn-full" href="#" > Delete </a></li>

                    </ul>
                </div>
            </section>

        </div>

            <!-- Float button Code begins here  -->

            <a href="https://www.google.com/" class="float">
                <i class="fa fa-plus my-float"></i>
            </a>

    </div>

{% endblock %}